html {
        scroll-behavior: smooth;
    }
    body {
        background-color: #0d1b2a;
        margin: 0;
        font-family: sans-serif;
    }

    .navbar {
        background-color: #778DA9;
        overflow: hidden;
        position: fixed;
        width: 100%;
        top: 0;
        z-index: 1000;
    }

    .navbar a {
        float: left;
        display: block;
        color: #1b263b;
        text-align: center;
        padding: 14px 20px;
        text-decoration: none;
    }

    .navbar a:hover {
        background-color: #575757;
    }

    img {
        display: block;
        width: 300px;
        height: 260px;
        border-radius: 20px;
        margin: 50px auto;
    }

    .container {
        font-family: sans-serif;
        font-size: large;
        text-align: center;
        color: #4e148c;
        padding-top: 80px;
    }

    .section {
        height: 500px;
        padding-top: 100px;
        text-align: center;
        color: white;
    }